 <div class="container">
  <div class="row"> 
   <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
 
    <h1>Editing Book</h1>

       <%= form_with(model:@book, local: true) do |form| %> 
        <% if @book.errors.any? %> 
         <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
             <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
             <% end %>
            </ul>
         </div>
        <% end %>
       <% end %>
             <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

               <h7>Title</h7><br>
                <%= f.text_field :title %><br>
                 <h7>Opinion</h7><br>
                  <%= f.text_area :body %><br>
                   <%= f.submit 'Update Book' %>
  
                     <div class="link">
                      <%= link_to "Show", book_path(@book.id) %>
                      <%= " | " %>
                      <%= link_to "Back", books_path %>
                      </div>
             <% end %>
   </div>
  </div>
 </div>
